@charset "UTF-8";
/*@import "reset.css";*/


/* CSS Document */


/*
	----------------------------
	HTML SELECTORS
	____________________________
*/
.geral {display: "a b c";}

body { background: #333; font:14px/21px Helvetica, Arial, sans-serif; color: #333; margin: 0; padding: 0; }
a { color: #fffacd; text-decoration: underline; }
a:hover { color: #fb2b2b; }
h1, h2 { font-size: 20px; line-height: 28px; font-weight: normal; letter-spacing: -1px; color: #fffacd; }
h3 { font-size: 18px; font-weight: normal; margin: 8px 0; }
h4 { font-size: 14px; font-weight: normal; margin: 0; }
h5 { font-size: 12px; font-weight: normal; margin: 0; }
ul { margin-left: 20px; }
ol { margin-left: 36px; }


/*
	----------------------------
	LAYOUT
	____________________________
*/

/*960px*/
#wrapper { width: 1060px; margin: 0 auto; padding: 48px 0 72px; }
#main { width: 340px; float: left; position: absolute; left:3px; top:170px;}
#main > p, #main > div { margin-left: 0px; }
#sidebar { width: 340px; float: right; position: absolute; left:720px; top:170px;}
#sidebar ol { margin: 12px 0 12px 22px; }
#sidebar2 { width: 340px; float: right; position: absolute; left:360px; top:170px; }

/* Login */
#mainLogin { width: 340px; float: left; position: absolute; left:3px; top:70px;}
#mainLogin > p, #main > div { margin-left: 0px; }
#ControleLogin{     position:absolute; float:left; left:100px;}

/* Master*/
/*#ConteudoPrincipal {width: 340px; float: left; position: absolute; left:3px; top:170px;}*/


/*
	----------------------------
	PAGE/SECTION SPECIFIC
	____________________________
*/


#video-controls { width: 105px; }
#video-controls a { color: #ddd; text-shadow:5px 5px 10px black; }
.tubular-play{text-decoration: none;}
.tubular-pause{text-decoration: none;}
.tubular-volume-up{text-decoration: none;}
.tubular-volume-down{text-decoration: none;}
.tubular-mute{text-decoration: none;}


/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/


.black-15 { background: url(../media/black-15-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-35 { background: url(../media/black-35-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-50 { background: url(../media/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-65 { background: url(../media/black-65-trans.png); color: #fff; padding: 4px 12px; margin: 4px 0; }
.black-85 { background: url(../media/black-85-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }

.default { width: 340px; }

.textbox { background:transparent ; border: 0px solid #DDD; border-radius: 5px; box-shadow: 0 0 5px #DDD inset; color: #FFFFFF; float: left; padding: 5px 10px; width: 165px; outline: none; }


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*Novos dados*/
#Enviar{color: #FFB90F;}
.Esquerda{color: #87CEEB;}


